@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto:300,300i,400,400i,500,500i,700,700i');

body{
	font-family: 'Open Sans', sans-serif;
	background-color: #0090dc;
}
.boton{
	width: 100%;
	margin: 35px 0;
	font-weight: 600;
	text-align: center;
}
.boton i{
	margin: 0 20px  0 0;
	font-size: 25px;
}

.btn-primary{
	color: #fff;
	background-color: #f50082;
	border-color: #f50082;
}
.logoE{
	margin: 20px 0;
}
.logIzq{
	background-image: url(../img/back-login.jpg);
	background-size: 100%;
	color: #fff;
	background-repeat: no-repeat;
}
.box-login{
	margin: 100px 50px;
}
.tituloLogin{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 50px;
	display: block;
	margin: 300px 0 20px;
	line-height: 1;
}
.plogin{
	font-size: 11px;
}
.box-form{
	background-color: #fff;
	text-align: center;
	padding-top: 2px;
}
.logoprin {
	display: block;
	width: 200px;
	margin: 10px auto;
}
.box-form form{
	padding: 0px 65px 30px;
}
.box-form form input{
	color: #888da8;
	font-size: 12px;
	padding: 25px 20px;
}


input[type=checkbox] + label{
	color: #888da8;
	font-size: 12px;
	}/*esta linea significa esto + el siguiente elemento*/

	.alogin{
		color: #888da8;
		font-size: 12px;
		text-decoration:none;
	}
	.alogin:hover, .alogin:focus{
		color: #f50082;
		text-decoration-line: none;
		text-align: right;
	}
	.mobil{
		display: none;
	}
	/* estilos mobil menu superior */
	@media only screen and (max-width: 760px){
		.mobil {
			display: block;
		}
		.logoE{
			margin: 20px auto;
			display: block;
		}
		.logIzq{
			background-image: none;
		}

		.tituloLogin{
			font-size: 30px;
			margin: 0px 0 20px;
			text-align: center;
		}
		.plogin{
			text-align: justify;
		}

		.box-login{
			margin: 20px 10px;
		}
		.box-form{
			background-color: #fff;
			text-align: center;
			padding-top: 2px;
		}
		.box-form form{
			padding: 0px 25px 5px;
		}
	}
	@media (min-width: 768px) and (max-width: 991px) 	{
		/*.mobil{
			display: block;
		}*/
		.logIzq{
			 background-position: left center;
			background-size: 100%;
		}
		.tituloLogin{
	font-size: 30px;
	display: block;
	margin: 200px 0 20px;
	line-height: 1;
}

		.plogin{
			text-align: justify;
		}

		.box-login{
			margin: 20px 10px;
		}
		.box-form{
			background-color: #fff;
			text-align: center;
			padding-top: 2px;
		}
		.box-form form{
			padding: 0px 25px 5px;
		}
		.logoprin {
	display: block;
	width: 150px;
	margin: 5px auto;
}

	}

@media (min-width: 992px) and (max-width: 1199px){

	.logIzq{
	background-size: 110%;
}
.tituloLogin{
			margin: 250px 0 20px;
		}
}