@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');

body{
	color: #979797;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
a:link {
	text-decoration: none;
}
.btn-primary{
	background-color: #4776e1;
	border: 1px solid #4776e1;
	border-radius: 2px;
}
.btn-secondary{
	background-color: #fff;
	border: 1px solid #fff;
	color: #4776e1;
	border-radius: 2px;
}
.menu{
	background: #F3F5F8;
	border-bottom: 1px solid #DBE0EC;
}
.buscador{
	width: 100%;
}
.buscador input{
	background: #F3F5F8;
	padding: 5px;
	border: none;
}
.buscador button{
	border: none;
	background: none;
}
.buscador button i{
	color: #979797;
}
.buscador input:hover, .buscador input:focus {
	background: #F3F5F8;
	box-shadow: none;
}
.buscador button:hover, .buscador button:focus {
	border-radius: 0px;
	background-color: #0B1F30; 
	box-shadow: none;
}

.log{
	color: #979797;
	font-size: 14px;
	text-decoration: none;
	font-weight: 600;
	margin-top: 8px;
	display: inline-block;
}
.log:hover, .log:focus{
	color: #4776E0;
}
.nopadding {
	padding: 0 !important;
	margin: 0 !important;
}
/* MEGAMENU STYLE
-------------------------------------------------- */
.megamenu-li {
	position: static;
}

.megamenu {
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	padding: 15px;
	background-color: rgba(11, 31, 48, .95);
	background-image: url(../img/back-menu.png);
	background-repeat: no-repeat;
	background-position: bottom right; 
	border-radius: 0;
}
.numer{
	display: inline-block;
	color: #7C7C7C;
	font-size: 14px;
}
.numer i {
	margin: 0 10px;
}
.numer span {
	color: #4776E0;
	margin: 0 5px;
}

.list-mega li {
	margin: 5px 10px;
	font-size: 15px;
}
.list-mega li a{
	padding: 5px 10px;
	color: #7C7C7C;
}
.list-mega li a:hover{
	color: #fff;
	background-color: #0B1F30;
	padding: 5px 10px;
}
.list-mega li a i{
	font-size: 10px;
	display: inline-block;
	padding-right: 10px;
}
.contac a{
	background-color: #4776E0;
	color: #fff !important;
	padding: 5px 13px;
	border-radius: 3px;
}

.megamenu .lismenu h3{
	display: inline-block;
	color: #fff;
	font-weight: 700;
	font-size: 12px;
}
.megamenu .lismenu img{
	margin: 10px 5px 10px 0;
	width: 85px;
	height: 65px;
}
.megamenu .lismenu span {
	font-size: 13px;
	color: #50B5D4;
}
.img-menu{
	margin-top: 40%;
}
.img-menu p{
	font-size: 12px;
	color: #fff;
	font-weight: 600;
	margin: 20px 10px;
}
.user {
		padding: .25rem .75rem;
		font-size: 1.25rem;
		line-height: 1;
		background-color: transparent;
		border: 1px solid transparent;
		border-radius: .25rem;
	}

	.user a{
		color: rgba(11, 31, 48, .95);	
	}
.formobil {
    width: 100%;
    padding: 0 2%;
}
.formobil input, .formobil button  {
	border-radius: 0px;
	border: 1px solid #3B3D54;
}
.formobil button  {
	background-color: #0B1F30;
	border: 1px solid #0B1F30;
}
.dropdown-menu{
	border-radius: 0px;
	background-color: rgba(11, 31, 48, .95);
}
.dropdown-item{
	font-size: 14px;
	color: #fff !important;
	
}
 /* footer */
 .footer {
 	background-color: #00162C;
 	padding: 10px 0;
 	margin-top: 80px;
 	background-image: url(../img/back-menu.png);
	background-repeat: no-repeat;
	background-position: bottom right; 
 }
 .footer .franja{
 	background-color: #3B86BF;
 	padding: 10px;
 	width: 100%;
 	display: inline-block;
 	margin: 10px 0;
 }
 .logof{
 	display: block;
 	margin: -120px auto 10px;
 }
 .tifoot {
 	font-weight: 700;
 	font-size: 20px;
 	color: #fff;
 }
 .forfoot{
 	margin: 40px 0;
 }
 .forfoot input, .forfoot textarea{
 	border-radius: 0px;
 	border:0px;
 	border-bottom: 1px solid #3B86BF;
 	color: #9B929B;
 	font-weight: 300;
 	background-color: #06141d;
 	font-size: 11px;
 }
  .forfoot button{
 	font-size: 11px;
 	font-weight: 600;
 }
 .listfoot{
 	margin: 40px 0;
 	list-style: none;
 }
  .listfoot li,  .listfoot li a{
 	color: #9B929B;
 	font-size: 15px;
 	margin: 20px 0;
 }

 .listfoot li i{
 	list-style: none;
 	margin-right: 15px;
 }
hr, .hrcolor {
   height: 1px;
   border: 0;
   color: #666;
   background-color: #32d7e6;
}
.redes a{
	background-color: #06141d;
	width: 34px;
	height: 34px;
	padding: 6px;
	text-align: center;
	border-radius: 50%;
	display: inline-block;
	color: #fff;
	font-size: 14px;
}
/* home */
.tituloba {
	font-size: 34px;
	font-weight: 700;
	text-align: center;
}
.btban{
	font-weight: 700;
	font-size: 15px;
}
.btban i{
	margin-left: 10px;
}
.botones{
	display: block;
	text-align: right;
	margin:40px 0 80px;
}
.banner2{
	margin: 40px 0;
}

.minisub{
	font-size: 14px;
	font-weight: 600;
	color: #606060;
}
.subtihom{
	font-weight: 700;
	font-size: 22px;
	color: #444444;
	margin-bottom: 20px;	
}
.tex-home{
	text-align: justify;
	color: #787878;
	font-size: 18px;
	margin-top: 50px;
}
.carousel-indicators{
	position: relative;
	bottom:0;
}
.list-comp{
	list-style: none;
	padding: 0;
	margin-top: 20px;
}
.list-comp li {
  padding-left: 2px;
  font-size: 12px;
  margin: 2px 0;
}

.list-comp li i{
	float: left;
	display: inline-block;
	color: #3B90D0;
	margin: 4px  10px 0 0;
}
.list-comp li p{
	width: 90%;
	display: inline-block;
}
.alink{
	margin: 50px 0;
	display: block;
	color: #3B90D0;
}
.subtihom span, .subtihom2 span{
	color: #3B90D0;
}
.subtihom2 {
	font-weight: 700;
	color: #444444;
	margin-bottom: 20px;
 	font-size: 35px;
}
.comp2 i{
	color: #0B1F30 !important;
}
.inica{;
	padding:8px 1px;
}
.box-comp{
	padding: 30px 40px;
	margin: 0 20px;
}
.indi li{
	background-color: #3B90D0;
	width: 20px;
	height: 20px;
	border-bottom: 10px solid transparent;
    opacity: .1;
}
.texto-centro{
	text-align: center;
	color: #3B90D0;
	font-size: 16px;
	font-weight: 600;
	margin: 30px auto 1px;
}
.bln{
	color: #fff;
}
.list-comp2{
	list-style: none;
	padding: 0;
	margin-top: 20px;
	font-size: 15px;
}
.list-comp2 li {
  padding-left: 2px;
  font-size: 15px;
  margin: 5px 0;
}
.list-comp2 li i{
 float: left;
	display: inline-block;
	color: #fff;
	margin: 4px  10px 0 0;
}

.list-comp2 li p{
	width: 90%;
	display: inline-block;
}
.barrita{
	width: 60px;
	padding: 2px;
	display: block;
	margin: 5px auto;
	background-color: #3B90D0;
}
.b-logos{
	margin: 10px auto 20px;
}
.con{
	color: #0B1F30;

}
.p-t{
	font-size: 15px;
	line-height: 2;
	padding: 10px;
}
/* interna */
.head {
	background-position: top center;
	width: 100%;
	display: block;
	text-align: center;
	padding: 30px;
}
.nosot {
	background-image: url(../img/banner/nosotros.png);
}
.equi {
	background-image: url(../img/banner/eqipo-b.png);
}
.clien {
	background-image: url(../img/banner/clientes-b.png);
}
.hg {
	background-image: url(../img/banner/hg-b.jpg);
}
.ot {
	background-image: url(../img/banner/b-img2.jpg);
}
.ca {
	background-image: url(../img/banner/b-img3.jpg);
}
.rl {
	background-image: url(../img/banner/b-img4.jpg);
}
.ml {
	background-image: url(../img/banner/b-img5.jpg);
}
.rp {
	background-image: url(../img/banner/b-img6.jpg);
}
.ph {
	background-image: url(../img/banner/b-img7.jpg);
}
.rp {
	background-image: url(../img/banner/b-img8.jpg);
}
.af{
	background-image: url(../img/banner/b-img9.jpg);
}
.pde{
	background-image: url(../img/banner/b-img10.jpg);
}
.oa{
	background-image: url(../img/banner/b-img11.jpg);
}
.sg{
	background-image: url(../img/banner/b-img12.jpg);
}
.gpr{
	background-image: url(../img/banner/b-img13.jpg);
}
.emh{
	background-image: url(../img/banner/b-img14.jpg);
}
.rb{
	background-image: url(../img/banner/b-img15.jpg);
}
.head h3{
	font-weight: bold;
	font-size: 34px;
	color:#fff;
	margin-top: 100px;
}
.head p{
	width: 50%;
	margin: 20px auto 60px;
	display: border 1px solid red;
	font-size: 21px;
	color: #fff;
}
/* nosotros */
.menuseun {
	width: 100%;
	background-color: #4776E0;
	text-align: center;
}
.textoDesplegable {
  max-height: 190px;
  max-width: 100%;
  overflow: hidden;
}
.textoDesplegable.open {
  max-height: 600px;
}
.leerMasTr{
	margin: 20px 0;
	color: #fff !important;

}

.menuseun ul{
	list-style: none;
	display: inline-block;
	margin: 10px auto;
}
.menuseun ul li{
	display: inline-block;
	margin: 0 20px;
}
.menuseun ul li a{
	color: #fff;
	font-size: 18px;
	font-weight: 600;
}
.boxint{
	margin-top: 50px
}
.titulo-izq{
	font-weight: 600;
	font-size: 34px;
	color: #2B3344;
	margin: 40px 0 30px;
}
.text-int {
	font-weight: normal;
	font-size: 14px;
	color: #808080;
	padding: 5px 15px 10px 0;
}
.text-int-b {
	text-align: justify;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
	padding: 5px 15px 10px 0;
}
.text-int-b span{
	font-weight: 600;
	display: block;
	margin: 8px 0;
	font-size: 18px;
	color: #fff;
	padding: 5px 15px 10px 0;
}
.boxazul{
	background-color: #0B1F30;
	background-image: url(../img/back.png);
	padding: 20px 0 30px;
	margin: 40px 0;
}
.titulo-cent{
	text-align: center;
	font-weight: 600;
	font-size: 34px;
	color: #fff;
	margin: 40px 0 30px;
}
.p-boxazul {
	text-align: center;
	width: 80%;
	margin: 20px auto 60px;
	font-size: 16px;
	color: #fff;
}
.interb{
	display: block;
	padding: 0 20px;
	margin: 0  auto
}
 #wrapper { position: relative; }
   #over_map {  position: absolute;
   	width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 25, 45, 0.2);
  padding: 5px;
  height: 450px;
   }
   .contacbox{
   	position: relative;
   	top: -80px;
   	padding: 30px;
   	background-color: #fff;
   	 z-index: 77;
   } 
   .Contact{
   	padding: 0 10px;
   }
    .Contact input, .contact textarea{
   	border:0px;
   	margin: 10px 2px 14px;
   	border-bottom: 1px solid #00192D;
   	border-radius: 0px;
   	padding: 10px;
   	font-size: 14px;
   }
    .Contact p{
   	font-size: 16px;
   }
   .titulo-conta{
	font-weight: 600;
	font-size: 34px;
	color: #2B3344;
	margin: 10px 0 20px;
}
.boxint{
	padding: 0;
	 width: 92%;
	 margin: 0px auto;
}
.corte{
	margin: 50px auto;
	display: block;
}
.texfin{
	font-size: 18px;
	color: #0087C2;
	text-align: center;
	margin: 30px 0;
}
.boxi{
	border: 1px solid #ddd;
	padding: 45px;
	margin: 0;
}
.bxlogo{
	border: 1px solid #127EB2;
	border-radius: 2px;
	padding: 5px;
	text-align: center;
	background-color: #fff;
}
.titufran {
	background-color: #127EB2;
}
.titufran h3 {
	padding: 15px;
	font-weight: 700;
	font-size: 22px;
	color: #070917;
	margin-bottom: 20px;
}
.titufran h3 span{
	color: #fff;
}
.titufrazul {
	background-color: #127EB2;
}
.titufrazul h3 {
	padding: 15px;
	font-weight: 700;
	font-size: 22px;
	color: #070917;
	margin-bottom: 0px;
}
.titufrazul h3 span{
	color: #fff;
}
.boxazul2{
	background-color: #0B1F30;
	background-image: url(../img/back.png);
	padding: 20px 0 30px;
	margin: 0px 0;
}
.userFixed {
  display: none;
  position: fixed;
  top: 460px;
  right: 0;
  background-color: #127EB2;
  color: #FFFFFF;
  padding: 5px 8px;
  z-index: 99999; }
  @media (max-width: 991px) {
    .userFixed {
      display: block; }
  }

.mobil {
	display: none !important;
}
/* login*/
.logoprin{
	margin: 0 auto;
	display: block;
}
.plogin {
	text-align: center;
	margin: 0 auto;
	width: 80%;
	color: #00162C;
	font-weight: 300;
	font-size: 13px;
	padding: 20px 30px 20px 0;
}
.logon {
	background-image: url(../img/back-log.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.tituiLogin{
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	margin-top: 64%;
	color: #00162C;
}
.tituiLogin span{
	font-weight: 700;
	color: #4776E0;
}
.box-formLg{
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px 15px 30px;
	margin-top: 40%;
}
.espacio{
	display: block;
	padding: 20px;
	border: 1px solid r
}
.text-mmenu{
	margin: 20px 0;
}
.text-mmenu p{
	font-size: 12px;
}
.box-hg{
	background-color: #0B1F30;
	padding: 15px 10px;
	margin-bottom: 15px;
	display: block;
}
.box-hg p{
	font-size: 12px;
	color: #fff;
	text-align: justify;
}
.titulo-int{
	font-size: 18px;
	color: #0B1F30;
	font-weight: 700;
	text-align: center;
}
.titulo-int span{
	color: #127EB2;
	display: block;
}
.magen-int{
	display: block;
	margin: 30px 0;
}
.text-ot{
	color: #0B1F30;
	font-size: 16px;
}
.lis-inot{
	padding: 0;
}
.lis-inot li{
	font-size: 14px;
	margin: 5px;
	color: #127EB2;
	display: block; 
}
.centro img{
	display: block;
	text-align: center;
	margin: 0 auto;
}
.list2{s
	font-size: 14px;
	margin-top: 45px;
}
.list2 li{
	color: #0B1F30;
	font-size: 12px;
	margin-bottom: 15px;
}
.box-hg p strong{
	font-weight: 700;
	font-size: 14px;
	text-align: center;
	display: block;
	margin-bottom: 10px;
}
/* estilos mobil menu superior */
@media only screen and (max-width: 760px){
	.pc {
		display: none !important;
	}
	.mobil {
		display: block !important;
	}
	.menu {
		display: none;
	}
	.navbar-brand{
		display: inline-block;
		margin: 0 auto;
		text-align: center;
	}
	.navbar-toggler{
		border: none;
	}
	.navbar-toggler:hover, .navbar-toggler:focus{
		border: none;
	}
	.navbar-toggler i{
		color: rgba(11, 31, 48, .95);
	}
	
	.list-mega {
		background-color: rgba(11, 31, 48, .95);
		padding-bottom: 20px;
	}
	.list-mega li{
		margin: 10px ;
	}
	.list-mega li a{
		color: #fff;
	}
	.img-menu{
		margin-top: 15px;
	}
	.megamenu {
		padding-bottom: 2px;
	}
	.formobil {
    padding: 0 1%;
    margin-bottom: 10px;
}
.logof{
 	width: 40%;
 }
/* home */
.tituloba {
	font-size: 14px;
	font-weight: 700;
	text-align: center;
}
.btban{
	font-weight: 700;
	font-size: 12px;
}
.btban i{
	margin-left: 4px;
}
.tba{
	font-size: 10px;
	line-height: 1;
}
.botones{
	display: block;
	text-align: center;
	margin:0px 0px;
}
.botones a{
	font-size: 8px;
	padding: 5px;
}
.box-comp{
	padding: 10px;
	margin: 0 20px;
}
.b-logos{
	text-align: center;
	margin: 2px;
}
.b-logos img {
	width: 50%;
}
.minisub{
	margin-top: 20px;
	text-align: center;
	font-size: 16px;
}
.subtihom{
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	margin-bottom: 30px;	
}
.tex-home{
	text-align: justify;
	color: #787878;
	font-size: 15px;
	margin-top: 20px;
}
.alink{
	text-align: center;
	margin: 20px 0;
}
.banner2  br {
	display: none;
}
.box-comp{
	padding: 10px 0px;
	margin: 0 10px;
}
.subtihom2 {
	text-align: center;
	margin: 20px 0;
 	font-size: 24px;
}
.p-t{
	font-size: 13px;
	line-height: 1;
	padding: 2px;
	text-align: center;
}
.texto-centro{
	font-size: 18px;
	margin: 30px auto -10px;
}
.centro{
	text-align: center;
}

/* interna */
.head {
	padding: 20px;
	background-size: cover;
}

.head h3{
	font-size: 34px;
	margin-top: 20px;
}
.head p{
	width:90%;
	margin: 20px auto 20px;
	font-size: 16px;
}
.nosot {
	background-image: url(../img/banner-m/nosotros-mobil.jpg);
}
.equi {
	background-image: url(../img/banner-m/eqipo-bmobil.jpg);
}
.clien {
	background-image: url(../img/banner-m/clientes-bmobil.jpg);
}
.hg {
	background-image: url(../img/banner-m/hg-bmobil.jpg);
}
.ot {
	background-image: url(../img/banner-m/m-img2.jpg);
}
.ca {
	background-image: url(../img/banner-m/m-img3.jpg);
}
.rl {
	background-image: url(../img/banner-m/m-img4.jpg);
}
.ml {
	background-image: url(../imgbanner-m//m-img5.jpg);
}
.rp {
	background-image: url(../img/banner-m/m-img6.jpg);
}
.ph {
	background-image: url(../img/banner-m/m-img7.jpg);
}
.rp {
	background-image: url(../img/banner-m/m-img8.jpg);
}
.af{
	background-image: url(../img/banner-m/m-img9.jpg);
}
.pde{
	background-image: url(../img/banner-m/m-img10.jpg);
}
.oa{
	background-image: url(../img/banner-m/m-img11.jpg);
}
.sg{
	background-image: url(../img/banner-m/m-img12.jpg);
}
.gpr{
	background-image: url(../img/banner-m/m-img13.jpg);
}
.emh{
	background-image: url(../img/banner-m/m-img14.jpg);
}
.rb{
	background-image: url(../img/banner-m/m-img15.jpg);
}
.titufran h3, .titufrazul h3 {
	text-align: center;
	font-size: 18px;
}
.top-mobil{
	margin-top: 50px;
}
 .contacbox{
   	padding: 30px 5px;
   } 
     .Contact p{
   	text-align: center;
   }
   .titulo-conta{
   	text-align: center;
	font-weight: 600;
	font-size: 25px;
	color: #2B3344;
	margin: 5px 0 10px;
}
.boxi{
	border: 1px solid #ddd;
	padding: 10px 20px;
	margin: 0;
}
.menuseun ul{
	padding: 0;
	text-align: center;
	margin: 5px auto;
}
.menuseun ul li{
	display: inline-block;
	margin: 0 3px;
}
.menuseun ul li a{
	font-size: 13px;
}

.text-int {
	text-align: justify;
}
.titulo-cent{
	text-align: center;
	font-size: 24px;
	margin: 20px 0 30px;
}
.text-int-b {
	padding: 2px;
}
.text-int-b span{
	font-size: 18px;
	color: #fff;
	padding: 5px;
}
.boxazul{
	background-color: #0B1F30;
	background-image: url(../img/back.png);
	padding: 20px 0 30px;
	margin: 40px 0;
}
.p-boxazul {
	width: 100%;
	font-size: 14px;
}
.interb{
	padding: 0 2px;
}

/* login*/

.plogin {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	color: #00162C;
	padding: 10px;
}
.logon {
	background-image: url(../img/back-m.jpg);
	background-size: cover;
}
.tituiLogin{
	text-align: center;
	font-size: 25px;
	margin-top: 50px;
}
.tituiLogin span{
	font-weight: 700;
	color: #4776E0;
}
.box-formLg{
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px 15px 30px;
	margin: 15px;
}
.magen-int{
	margin: 10px 0;
}
  .espacio{
  	display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
	.pc {
		display: none !important;
	}
	.mobil {
		display: block !important;
	}
	.menu {
		display: none;
	}
		.navbar-brand{
		display: inline-block;
		margin: 0 auto;
		text-align: center;
	}
	.navbar-toggler{
		border: none;
	}
	.navbar-toggler:hover, .navbar-toggler:focus{
		border: none;
	}
	.navbar-toggler i{
		color: rgba(11, 31, 48, .95);
	}
	
	.list-mega {
		background-color: rgba(11, 31, 48, .95);
		padding-bottom: 20px;
	}
	.list-mega li{
		margin: 10px ;
	}
	.list-mega li a{
		color: #fff;
	}
	.img-menu{
		margin-top: 15px;
	}
	.megamenu {
		padding-bottom: 2px;
	}
	.formobil {
    padding: 0 2%;
    margin: 5px auto 15px;
}
/* home */
.tituloba {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
}
.btban{
	font-weight: 700;
	font-size: 12px;
}
.btban i{
	margin-left: 10px;
}
.tba{
	font-size: 12px;
	margin-bottom: 20px;
}
.botones{
	display: block;
	text-align: right;
	margin:15px 0 30px;
}
.subtihom{
	font-size: 18px;
	text-align: center;
}
.tex-home{
	margin-top: 20px;
}
.alink{
	margin: 20px 0;
}
.banner2  br {
	display: none;
}
.subtihom2 {
	text-align: center;
	margin: 20px 0;
}
.box-comp{
	padding: 10px 10px;
	margin: 0 10px;
}
/* interna */
.head {
	padding: 20px;
}

.head h3{
	font-size: 34px;
	margin-top: 50px;
}
.head p{
	width:50%;
	margin: 40px auto 40px;
	font-size: 16px;
}
.nosot {
	background-image: url(../img/nosotros-mobil.jpg);
}
.equi {
	background-image: url(../img/eqipo-bmobil.jpg);
}
.clien {
	background-image: url(../img/clientes-bmobil.jpg);
}
.titufran h3, .titufrazul h3 {
	text-align: center;
	font-size: 18px;
}
.centro{
	text-align: center;
}
.boxi{
	border: 1px solid #ddd;
	padding: 10px 20px;
	margin: 0;
}

.minisub{
	text-align: center;
}
/* login*/

.plogin {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	color: #00162C;
	padding: 10px;
}
.logon {
	background-size:120%;
	background-repeat: no-repeat;
	background-position: top center;
}
.tituiLogin{
	text-align: center;
	font-size: 20px;
	margin-top: 70%;
}
.tituiLogin br {
	display: none;
}
.tituiLogin span{
	font-weight: 700;
	color: #4776E0;
}
.box-formLg{
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px 15px 30px;
	margin: 25% 0;
}

}

@media (min-width: 992px) and (max-width: 1199px){
	.mobil {
		display: none !important;
	}
	.list-mega li {
	margin: 5px;
	font-size: 12px;
}
.list-mega li a{
	padding: 5px;
	color: #7C7C7C;
}
.megamenu .lismenu h3{
	font-weight: 600;
	font-size: 10px;
}
.megamenu .lismenu img{
	margin: 10px 2px 10px 0;
	width: 65px;
	height: 45px;
}
.megamenu .lismenu span {
	font-size: 11px;
	color: #50B5D4;
}
.img-menu{
	margin-top: 40%;
}
.img-menu p{
	font-size: 12px;
	color: #fff;
	font-weight: 600;
	margin: 20px 10px;
}
.dropdown-item{
	font-size: 12px;
}
/* home */
.tituloba {
	font-size: 26px;
	font-weight: 700;
	text-align: center;
}
.btban{
	font-weight: 700;
	font-size: 12px;
}
.btban i{
	margin-left: 10px;
}
.botones{
	display: block;
	text-align: right;
	margin:10px 0 30px;
}
.box-comp{
	padding: 30px 10px 15px;
	margin: 0 10px;
}
/* interna */
.head {
	padding: 40px;
}

.head p{
	width:50%;
	margin: 40px auto 40px;
	font-size: 16px;
}
.boxi{
	border: 1px solid #ddd;
	padding: 20px 30px;
	margin: 0;
}
.tituiLogin{
	margin-top: 55%;
}
.tituiLogin span{
	font-weight: 700;
	color: #4776E0;
}
.box-formLg{
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px 15px 30px;
	margin-top: 40%;
}
.logon {
	background-size:cover;
	background-repeat: no-repeat;
	background-position: top center;
}
}
